.btn {
  padding: rem-calc(20) rem-calc(60);
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn--primary {
     color: $color-primary;
     background: transparent;
     border: rem-calc(4) solid $color-primary;
     text-transform: uppercase;
     &:hover {
       background: $color-primary;
       color: $color-secondary;
     }
}

.btn--secondary {
  color: $color-secondary;
  background: transparent;
  border: rem-calc(4) solid $color-secondary;
  text-transform: uppercase;
  &:hover {
    background: $color-secondary;
    color: $color-primary;
  }
}
