@import "~normalize.css";
@import "~reset-css";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/tables";
@import "variables";
@import "_mixins/rem-calc";

@import "atoms/fonts";
@import "atoms/color";
@import "atoms/li";
@import "atoms/link";
@import "atoms/hover";
@import "atoms/heading";
@import "atoms/bg";
@import "atoms/table";
@import "atoms/tag";
@import "atoms/hr";

@import "molecules/logo";
@import "molecules/navbar";
@import "molecules/btn";
@import "molecules/service-item";

@import "organism/header";
@import "organism/footer";
@import "organism/entry-hp";
@import "organism/about-line";
@import "organism/services-section";
@import "organism/section-service";

body {
  font-family: "Roboto", serif;
  color: #000;
}
a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: 0;
}

p {
  font-size: rem-calc(20);
  line-height: rem-calc(27);
}

strong {
  font-weight: bold;
}
