.agreements {
  h2 {
    font-size: rem-calc(40);
    padding: rem-calc(20) 0;
  }
  h3 {
    font-size: rem-calc(22);
    font-weight: bold;
    padding: rem-calc(20) 0;
    line-height: rem-calc(35);
  }
}