.entry-hp {
  padding: rem-calc(40) 0;
  width: 100%;
  background-color: $color-primary;
  background-image: url("../../images/entry-hp_bg.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
  @include break(lg) {
    height: 100vh;
    padding: rem-calc(40) 0;
  }
  @include break(lg) {
    padding: rem-calc(60) 0;
  }
  &__left {
    @include break(lg) {
      height: 100vh;
    }
  }
  &__right {
    @include break(lg) {
      height: 100vh;
    }
  }

  @include break(lg) {
    &:after{
      z-index: 1;
      content:'';
      position:absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: rem-calc(1200) solid $color-primary;
      border-left: rem-calc(600) solid transparent;
    }
  }
  @include break(xxl) {
    &:after{
      border-bottom: rem-calc(1200) solid $color-primary;
      border-left: rem-calc(900) solid transparent;
    }
  }

  &__logo {
    position: absolute;
    right: rem-calc(50);
    bottom: rem-calc(170);
    z-index: 2;
    display: none;
    @include break(lg) {
      display: flex;
    }
    span {
      text-transform: uppercase;
      font-size: rem-calc(30);
    }
    img {
      height: rem-calc(70);
    }
  }

  h1 {
    color: $white;
    font-size: rem-calc(50);
    text-transform: uppercase;
    line-height: rem-calc(50);
    padding-bottom: rem-calc(20);
    @include break(lg) {
      font-size: rem-calc(90);
      line-height: rem-calc(90);
    }
    @include break(xxl) {
      font-size: rem-calc(119);
      line-height: rem-calc(120);
    }
  }
  p {
    color: $white;
    text-transform: uppercase;
    border-top: rem-calc(2) solid $white;
    padding: rem-calc(40) 0 0 0;
    font-size: rem-calc(16);
    @include break(xxl) {
      font-size: rem-calc(20);
      line-height: rem-calc(34);
    }
  }
}
