.section-about {
  padding: rem-calc(150) 0;
  display: flex;
  align-items: center;
  h3 {
    font-size: rem-calc(75);
    font-weight: bold;
  }
  h4 {
    font-size: rem-calc(37);
    font-weight: bold;
  }

  &--primary {
    background-color: $color-fourth;
  }
}