.section-portfolio {
  padding: rem-calc(40) 0;
  display: flex;
  align-items: center;
  @include break(lg) {
    padding: rem-calc(60) 0;
  }

  h2 {
    padding-bottom: rem-calc(15);
    font-weight: bold;
    font-size: rem-calc(40);
    margin-top: rem-calc(20);
    @include break(lg) {
      margin-top: 0;
      font-size: rem-calc(58);
    }
  }

  &__text {
    max-width: rem-calc(500);

    &__www {
      font-size: rem-calc(14);
      padding-bottom: rem-calc(15);
    }

    &__tags {
      font-size: rem-calc(30);

      ul {
        display: inline-flex;

        li {
          padding: rem-calc(5) rem-calc(5);
        }
      }
    }
  }

  &__img {
    -webkit-box-shadow: 2px 10px 35px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 35px -12px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 35px -12px rgba(0,0,0,0.75);

    a:nth-child(n+2) {
      display: none
    }

    img {
      width: 100%;
    }

    &__bg {
      position: relative;

      &:hover {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.2);
          left: 0;
        }
      }
    }
  }

  &--primary {
    background-color: $color-fourth;

    h2 {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &--white {
    background-color: $white;
    color: $color-secondary;
    position: relative;

    .section-portfolio__img {
      a:nth-child(n+2) {
        display: none
      }

      img {
        width: 100%;
      }

      //&__bg {
      //  &:before {
      //    background: rgb(26,26,26);
      //    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
      //  }
      //  &:hover {
      //    &:before {
      //      background: none;
      //    }
      //  }
      //}
    }

    h2 {
      color: $color-secondary;
    }

    .section-portfolio__text__info {
      border-top: rem-calc(3) solid $color-secondary;
      color: lighten($black, 30%)
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-fourth;
    position: relative;

    .section-portfolio__img {
      a:nth-child(n+2) {
        display: none
      }

      img {
        width: 100%;
      }

      //&__bg {
      //  &:before {
      //    background: rgb(26,26,26);
      //    background: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(255,255,255,0) 50%);
      //  }
      //  &:hover {
      //    &:before {
      //      background: none;
      //    }
      //  }
      //}
    }

    h2 {
      color: $color-secondary;
    }

    .section-portfolio__text__info {
      border-top: rem-calc(3) solid $color-fourth;
      color: lighten($black, 30%)
    }
  }

  &--gray {
    background-color: $gray-light;
    color: $color-secondary;

    .section-portfolio__img {
      a:nth-child(n+2) {
        display: none
      }

      img {
        width: 100%;
      }

      //&__bg {
      //  &:before {
      //    background: rgb(26,26,26);
      //    background: linear-gradient(90deg, rgba(26,26,26,0) 50%, rgba(214,214,214,1) 100%);
      //  }
      //  &:hover {
      //    &:before {
      //      background: none;
      //    }
      //  }
      //}
    }

    .section-portfolio__tags {
      color: $color-secondary;
    }

    h2 {
      color: $color-secondary;
    }

    .section-portfolio__text__info {
      border-top: rem-calc(3) solid $color-secondary;
      color: lighten($black, 30%)
    }
  }
}
