.section-service {
  padding: rem-calc(80) 0;
  display: flex;
  align-items: center;
  h3 {
    font-size: rem-calc(450);
    font-weight: bold;
  }

  &--primary {
    background-color: $color-fourth;
    h3 {
      color: rgba(0,0,0,0.4);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-fourth;
    h3 {
      color: rgba(255,204,5,0.4);
    }
    .service-info {
      &__desc {
        border-top: rem-calc(3) solid $color-fourth;
      }
    }
  }

  &--gray {
    background-color: $gray-light;
    color: $color-secondary;
    h3 {
      color: rgba(0,0,0,0.4);
    }
  }
}