.services-section {
  padding: rem-calc(30) 0;
  background: $white;
  @include break(lg) {
    padding: rem-calc(100) 0;
  }

  &__title {
    h2 {
      font-weight: bold;
      color: $color-secondary;
      font-size: rem-calc(40);
      text-transform: uppercase;
      @include break(lg) {
        font-size: rem-calc(75);
      }
    }

    p {
      text-align: center;
      color: $color-secondary;
      text-transform: uppercase;
      border-top: rem-calc(2) solid $color-secondary;
      padding: rem-calc(20) 0 0 0;
      font-size: rem-calc(16);
    }
  }
}
