<%= require('html-loader!./header.html') %>
<main>
    <section class="entry-hp align-items-center px-5">
        <div class="row align-items-end">

        <div class="col-12 col-lg-7 entry-hp__left">
            <h1>
                Webové stránky<br>
                Design<br>
                + Média
            </h1>
            <p class="hp-entry__desc">
                <strong>NÁVRH WEBOVÝCH STRÁNEK A DIGITÁLNÍ MÉDIA, DÍKY KTERÝM VAŠE ZNAČKA BUDE VYPADAT ÚŽASNĚ!</strong><br>
                BEEONLINE JE MALÝ TÝM S VELKÝMI SRDCI PRO SKVĚLÝ DESIGN, PRODEJE A SPOKOJENOST ZÁKAZNÍKŮ.<br>
                JSME 100% ČESKÁ SPOLEČNOST, KTERÁ JE PYŠNÁ NA TO, ŽE MŮŽE DORUČOVAT PRÁCI TÉ NEJVYŠŠÍ KVALITY ZA DOSTUPNÉ CENY.
            </p>
            <div class="py-3">
                <a href="#contact-form">
                    <button class="btn btn--primary">
                    Kontaktujte nás
                    </button>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-5 d-none d-lg-block entry-hp__right">
            <div class="row flex-column justify-content-end entry-hp__logo text-right">
                <img src="images/logo.svg" alt="Beeonline"/>
                <span>WEB DESIGN & MEDIA</span>
            </div>
        </div>
        </div>
    </section>
    <section class="about-line" id="aboutus">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="py-1 text-center col-12 col-lg-9">
                    <h2 class="pb-4">O nás</h2>
                    <p class="about-line__info">
                        <strong>JSME ČESKÝ WEB DESIGNEŘI & KREATIVCI, KTEŘÍ USILUJÍ O TO VYTVOŘIT OBSAH PRO SPOLEČNOST JAKÉKOLIV VELIKOSTI</strong><br>
                        BAVÍ NÁS POSOUVAT HRANICE UMĚNÍ A TECHNOLOGIÍ, ABY JSME BYLI SCHOPNI DODAT VYJIMEČNÝ VÝSLEDKY.<br>
                        JSME PYŠNÝ NA TO, ŽE DODÁVÁME PREMIOVÉ DESIGNY ZA DOSTUPNÉ CENY A VĚŘÍME, ŽE NÁŠ PŘÁTELSKÝ PŘÍSTUP POMÁHÁ JEDNODUCHÉ MYŠLENCE SE PROMĚNIT V DIGITÁLNÍ UMĚLECKÉ DÍLO.<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="services-section">
        <div class="container-fluid">
        <div class="row align-items-center justify-content-center">

        <div id="whatwedo" class="py-5 text-center col-12 col-lg-9 services-section__title">
            <h2 class="pb-4">CO DĚLÁME</h2>
            <p class="about-line__info">
                <strong>WEBOVÝ DESIGN & MÉDIA</strong><br>
            </p>
        </div>
        <div class="container">
            <div class="row">

                <div class="service-item col-12 col-lg-4">
                    <div class="service-item__img text-center">
                        <img src="images/ico-web.svg">
                    </div>
                    <h3>WEB DESIGN</h3>
                    <p class="service-item__desc">Tvoříme responzivní webové stránky, které vypadají skvěle na jakémkoliv zařízení.</p>
                </div>

                <div class="service-item col-12 col-lg-4">
                    <div class="service-item__img text-center">
                        <img src="images/ico-media.svg">
                    </div>
                    <h3>MÉDIA</h3>
                    <p class="service-item__desc">Fotíme krásné fotky a tvoříme vynikající videa.</p>
                </div>

                <div class="service-item col-12 col-lg-4">
                    <div class="service-item__img text-center">
                        <img src="images/ico-graphics.svg">
                    </div>
                    <h3>grafika</h3>
                    <p class="service-item__desc">Tvoříme loga na míru a jinou důmyslnou grafiku.</p>
                </div>

                <div class="service-item col-12 col-lg-4">
                    <div class="service-item__img text-center">
                        <img src="images/ico-ecommerce.svg">
                    </div>
                    <h3>E-COMMERCE</h3>
                    <p class="service-item__desc">Rozšíření vaší firmy do online světa pro nás není žádný problém!</p>
                </div>

                <div class="service-item col-12 col-lg-4">
                    <div class="service-item__img text-center">
                        <img src="images/ico-www.svg">
                    </div>
                    <h3>WWW.</h3>
                    <p class="service-item__desc">Prémiový český hosting na rychlých  serverech.</p>
                </div>

                <div class="service-item col-12 col-lg-4">
                    <div class="service-item__img text-center">
                        <img src="images/ico-support.svg">
                    </div>
                    <h3>podpora</h3>
                    <p class="service-item__desc">Beeonline je tady pro vás na každém kroku vaší online cesty.</p>
                </div>

            </div>
        </div>
        </div>
        </div>
    </section>

    <section class="section-service section-service--primary" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h3>01</h3>
                </div>
                <div class="col-12 col-lg-6 service-info">
                    <h4>
                        Vývoj a design webových stránek
                    </h4>
                    <p class="service-info__desc">
                        <strong>Nepostradatelná věc pro každou firmu, která chce na trhu působit důvěryhodně.</strong>
                    </p>
                    <p>
                        Zatímco sociální platformy jsou výkonnými nástroji vašeho podnikání, profesionálně vytvořený web posílí důvěru zákazníků ve vámi nabízené služby nebo produkty. Soustředíme se design a funkčnost vašeho webu, abyste prostě online vypadali úžasně.
                    </p>
                    <a href="portfolio.html">
                        <button class="btn btn--secondary w-100 my-3">
                            zobrazit reference
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-service section-service--gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 service-info order-2 order-lg-1">
                    <h4 class="text-lg-right">
                        MEDIA
                    </h4>
                    <p class="service-info__desc">
                        <strong>Profesionální fotografie a videa pro vyjádření přesně toho, co chcete.</strong>
                    </p>
                    <p>
                        Estetická přitažlivost je pro web zásadní. Vizuální obsah je bezkonkurenčně nejlepší cestou jak doručit obsah, který se slovy nebo textem snažíme jindy pouze zprostředkovat. Pomůžeme vám se vydat tím správným směrem.
                    </p>
                    <a href="portfolio.html">
                        <button class="btn btn--secondary w-100 my-3">
                            zobrazit reference
                        </button>
                    </a>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2">
                    <h3>02</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="section-service section-service--secondary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <h3>03</h3>
                </div>
                <div class="col-12 col-lg-6 service-info">
                    <h4>
                        GRAFICKÝ DESIGN
                    </h4>
                    <p class="service-info__desc">
                        <strong>Prvotřídní design pro značky, které chtějí být viděny.</strong>
                    </p>
                    <p>
                        První dojem se počítá, takže pokud jde o vaši firmu, není to něco, co si můžete dovolit pokazit. Ať už se jedná o vaše logo, vizitky, nebo něco dalšího,  co nese váš vizualní prvek, zajistíme, že  budete vapadat skvěle a vyniknete.
                    </p>
                    <a href="portfolio.html">
                        <button class="btn btn--fourth w-100 my-3">
                            zobrazit reference
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-about section-about--primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pb-3">To je vše o nás</h3>
                    <h4 class="pb-3">Nyní bychom rádi slyšeli něco od vás!</h4>
                    <p>Pojďme si promluvit o tom, čeho byste chtěli dosáhnout a jak to společně uděláme.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-form" class="section-about section-about--white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h3 class="pb-3">Kontaktujte nás!</h3>
                    <p>
                        Chcete-li se zeptat na jakoukoli z našich služeb, použijte prosím náš rychlý kontaktní formulář. Je to stejně dobré jako mít naši osobní e-mailovou adresu. Všechno, co nám zde napíšete, bude posláno přímo nám. Ujistíme vás, že jsme vaši zprávu opravdu obdrželi a odpovíme do 1 pracovního dne.
                    </p>
                </div>
                <div id="contact-form" class="contact-form col-12 col-lg-6">
                    <%= require('html-loader!./contact-form.html') %>
                </div>
            </div>
        </div>
    </section>

</main>

<%= require('html-loader!./footer.html') %>

</body>
</html>
