<%= require('html-loader!./header.html') %>
<main>
    <section class="services-section">
        <div class="container agreements">
            <p>Společnost BeeMedia, s.r.o. je povinna chr&aacute;nit osobn&iacute; &uacute;daje sv&yacute;ch z&aacute;kazn&iacute;ků
                a postupovat v souladu se z&aacute;konem č. 127/2005 Sb., o elektronick&yacute;ch komunikac&iacute;ch,
                ve zněn&iacute; pozděj&scaron;&iacute;ch předpisů, s nař&iacute;zen&iacute;m (EU) 2016/679 ze dne 27.
                dubna 2016 o ochraně fyzick&yacute;ch osob v souvislosti se zpracov&aacute;n&iacute;m osobn&iacute;ch
                &uacute;dajů a o voln&eacute;m pohybu těchto &uacute;dajů a o zru&scaron;en&iacute; směrnice 95/46/ES
                (obecn&eacute; nař&iacute;zen&iacute; o ochraně osobn&iacute;ch &uacute;dajů), ode dne &uacute;činnosti
                nař&iacute;zen&iacute;, se z&aacute;konem č. 101/2000 Sb., o ochraně osobn&iacute;ch &uacute;dajů, ve
                zněn&iacute; pozděj&scaron;&iacute;ch předpisů a o změně někter&yacute;ch z&aacute;konů, z&aacute;konem
                č. 480/2004 Sb., o někter&yacute;ch služb&aacute;ch informačn&iacute; společnosti, ve zněn&iacute;
                pozděj&scaron;&iacute;ch předpisů, občansk&yacute;m z&aacute;kon&iacute;kem a dal&scaron;&iacute;mi
                souvisej&iacute;c&iacute;mi pr&aacute;vn&iacute;mi předpisy.
            <h2>Jak&eacute; osobn&iacute; &uacute;daje zpracov&aacute;v&aacute;me</h2>
            <h3>CO JE OSOBN&Iacute; &Uacute;DAJ A KDO JE SUBJEKTEM &Uacute;DAJŮ?</h3>
            <p>Osobn&iacute; &uacute;daj definuje z&aacute;kon o ochraně osobn&iacute;ch &uacute;dajů jako jakoukoliv
                informaci t&yacute;kaj&iacute;c&iacute; se určen&eacute;ho nebo určiteln&eacute;ho subjektu &uacute;dajů.
                Jedn&aacute; se o &uacute;daj, kter&yacute; je spojen&yacute; s určitou osobou, kter&yacute; s&aacute;m
                o sobě nebo v kombinaci s jin&yacute;mi &uacute;daji může v&eacute;st k identifikaci konkr&eacute;tn&iacute;
                osoby. Subjektem &uacute;dajů je vždy pouze fyzick&aacute; osoba. Ve smyslu z&aacute;kona je tedy n&aacute;&scaron;
                z&aacute;kazn&iacute;k &ndash; fyzick&aacute; osoba, kter&aacute; s n&aacute;mi uzavřela smlouvu,
                subjektem &uacute;dajů a &uacute;daje, kter&eacute; o t&eacute;to osobě zpracov&aacute;v&aacute;me, jsou
                &uacute;daje osobn&iacute;.
            </p>
            <p>V oblasti elektronick&yacute;ch komunikac&iacute; se rozli&scaron;uj&iacute; 3 z&aacute;kladn&iacute;
                druhy &uacute;dajů, kter&eacute; BeeMedia zpracov&aacute;v&aacute;: osobn&iacute;, provozn&iacute; a
                lokalizačn&iacute;.
            </p>
            <h3>OSOBN&Iacute; &Uacute;DAJ</h3>
            <p>Společnost BeeMedia zpracov&aacute;v&aacute; zejm&eacute;na osobn&iacute; &uacute;daje označovan&eacute;
                jako &uacute;daje identifikačn&iacute;.
            </p>
            <p>Osobn&iacute;mi a identifikačn&iacute;mi &uacute;daji se rozum&iacute; zejm&eacute;na: jm&eacute;no, př&iacute;jmen&iacute;,
                adresa, datum narozen&iacute;, rodn&eacute; č&iacute;slo/popř. n&aacute;rodn&iacute; identifik&aacute;tor,
                věk, č&iacute;sla předložen&yacute;ch dokladů, kontaktn&iacute; telefonn&iacute; č&iacute;slo, fakturačn&iacute;
                &uacute;daje (např. druh, způsob a objem využ&iacute;van&yacute;ch služeb), &uacute;daje o koncov&eacute;m
                zař&iacute;zen&iacute;, e-mailov&eacute; spojen&iacute;, bankovn&iacute; spojen&iacute;, chov&aacute;n&iacute;
                z&aacute;kazn&iacute;ka a jin&eacute; &uacute;daje opr&aacute;vněně o z&aacute;kazn&iacute;kovi z&iacute;skan&eacute;.
            </p>
            <p>Ochranu podle z&aacute;kona o zpracov&aacute;n&iacute; osobn&iacute;ch &uacute;dajů pož&iacute;vaj&iacute;
                pouze osobn&iacute; &uacute;daje fyzick&yacute;ch osob.
            </p>
            <h3>PROVOZN&Iacute; &Uacute;DAJ</h3>
            <p>Provozn&iacute; &uacute;daj definuje z&aacute;kon o elektronick&yacute;ch komunikac&iacute;ch jako jak&yacute;koli
                &uacute;daj zpracov&aacute;van&yacute; pro potřeby přenosu zpr&aacute;vy s&iacute;t&iacute; elektronick&yacute;ch
                komunikac&iacute; nebo pro jej&iacute; &uacute;čtov&aacute;n&iacute;.
            </p>
            <p>Jedn&aacute; se tedy např&iacute;klad o volaj&iacute;c&iacute; č&iacute;slo (A-č&iacute;slo), volan&eacute;
                č&iacute;slo (B-č&iacute;slo), zač&aacute;tek a konec spojen&iacute;, datum a d&eacute;lka trv&aacute;n&iacute;
                uskutečněn&eacute;ho spojen&iacute;, IMEI, konfiguračn&iacute; &uacute;daje, druh poskytnut&eacute;
                služby, adresa datov&eacute;ho spojen&iacute;, IP adresa, a to včetně provozně lokalizačn&iacute;ch
                &uacute;dajů, což je nezbytn&aacute; informace o tom, z kter&eacute;ho m&iacute;sta v s&iacute;ti a do
                jak&eacute;ho m&iacute;sta v s&iacute;ti byl přenos zpr&aacute;vy uskutečněn, přičemž se jedn&aacute; o
                &uacute;daje generovan&eacute; pouze pro přenos zpr&aacute;v.
            </p>
            <h3>LOKALIZAČN&Iacute; &Uacute;DAJ</h3>
            <p>Lokalizačn&iacute; &uacute;daj definuje z&aacute;kon jako jak&eacute;koli &uacute;daje zpracov&aacute;van&eacute;
                v s&iacute;ti elektronick&yacute;ch komunikac&iacute; nebo službou elektronick&yacute;ch komunikac&iacute;,
                kter&eacute; určuj&iacute; zeměpisnou polohu telekomunikačn&iacute;ho koncov&eacute;ho zař&iacute;zen&iacute;
                uživatele veřejně dostupn&eacute; služby elektronick&yacute;ch komunikac&iacute;.
            </p>
            <p>Lokalizačn&iacute;m &uacute;dajem je tedy &uacute;daj o poloze koncov&eacute;ho zař&iacute;zen&iacute; z&aacute;kazn&iacute;ka,
                tj. např. &uacute;daj o s&iacute;ti či vys&iacute;lači, k němuž je z&aacute;kazn&iacute;k připojen.
            </p>
            <h3>DAL&Scaron;&Iacute; ZPRACOV&Aacute;VAN&Eacute; &Uacute;DAJE</h3>
            <p>Současně shromažďujeme p&iacute;semnou či telefonickou komunikaci mezi z&aacute;kazn&iacute;kem a
                společnost&iacute; BeeMedia t&yacute;kaj&iacute;c&iacute; se reklamac&iacute; produktů či služeb, dotazů
                na na&scaron;e služby, atd. U telefonn&iacute;ho č&iacute;sla z&aacute;kazn&iacute;ka m&aacute;me tak&eacute;
                vždy aktu&aacute;ln&iacute; i historickou informaci o služb&aacute;ch, kter&eacute; si z&aacute;kazn&iacute;k
                objednal, a kter&eacute; využ&iacute;v&aacute;.&nbsp;
            </p>
            <p>V př&iacute;padě, že z&aacute;kazn&iacute;k využije některou z na&scaron;ich marketingov&yacute;ch nab&iacute;dek,
                sm&iacute;me tak&eacute; zpracov&aacute;vat &uacute;daje nezbytn&eacute; pro plněn&iacute; a kontrolu
                podm&iacute;nek stanoven&yacute;ch v pravidlech t&eacute;to marketingov&eacute; nab&iacute;dky, s nimiž
                bude z&aacute;kazn&iacute;k předem sezn&aacute;men. Z&aacute;kazn&iacute;k n&aacute;m může d&aacute;le
                poskytnout informace o sv&eacute;m věku, telefonn&iacute;m č&iacute;sle a elektronick&eacute; adrese,
                životn&iacute;m stylu, bankovn&iacute;m spojen&iacute;, př&iacute;padně jin&eacute; &uacute;daje
                poskytnut&eacute; z&aacute;kazn&iacute;kem při registraci nebo prostřednictv&iacute;m průzkumů. Pokud se
                z&aacute;kazn&iacute;k rozhodne n&aacute;m sv&eacute; osobn&iacute; &uacute;daje sdělit, budou použity
                za &uacute;čelem, kter&yacute; jsme z&aacute;kazn&iacute;kovi ozn&aacute;mili v době, kdy byly tyto
                &uacute;daje shromažďov&aacute;ny, a podle uveden&yacute;ch podm&iacute;nek.
            </p>
            <h3>PROČ ZPRACOV&Aacute;V&Aacute;ME OSOBN&Iacute; &Uacute;DAJE Z&Aacute;KAZN&Iacute;KA</h3>
            <p>Pokud se z&aacute;kazn&iacute;k rozhodne využ&iacute;vat na&scaron;e služby či produkty a uzavře s n&aacute;mi
                smlouvu, je společnost BeeMedia povinna z&iacute;skat osobn&iacute; či identifikačn&iacute; &uacute;daje
                z&aacute;kazn&iacute;ka a tyto po z&aacute;konem definovanou dobu zpracov&aacute;vat. Z&aacute;roveň
                jsme povinni na z&aacute;kladě platn&yacute;ch pr&aacute;vn&iacute;ch předpisů zpracov&aacute;vat
                &uacute;daje, kter&eacute; vznikaj&iacute; v r&aacute;mci poskytov&aacute;n&iacute; služeb, a to tzv.
                provozn&iacute; &uacute;daje a lokalizačn&iacute; &uacute;daje. V tomto př&iacute;padě hovoř&iacute;me o
                tzv. povinn&eacute;m zpracov&aacute;n&iacute;, kdy jsou &uacute;daje použ&iacute;v&aacute;ny pro
                &uacute;čely poskytov&aacute;n&iacute; služeb eshopov&yacute;ch platforem, souvisej&iacute;c&iacute;ch
                služeb, platebn&iacute;ch transakc&iacute;, zaji&scaron;těn&iacute; propojen&iacute; a př&iacute;stupu k
                s&iacute;ti, vy&uacute;čtov&aacute;n&iacute; a prov&aacute;děn&iacute; &uacute;konů s t&iacute;m
                souvisej&iacute;c&iacute;ch, &uacute;četn&iacute; a daňov&eacute; &uacute;čely, identifikace zneuž&iacute;v&aacute;n&iacute;
                s&iacute;tě či služeb, vym&aacute;h&aacute;n&iacute; pohled&aacute;vek, prodej produktů či služeb třet&iacute;ch
                stran prostřednictv&iacute;m na&scaron;&iacute; s&iacute;tě nebo jejich vy&uacute;čtov&aacute;n&iacute;,
                pro &uacute;čely vol&aacute;n&iacute; na č&iacute;sla t&iacute;sňov&eacute;ho vol&aacute;n&iacute;; d&aacute;le
                jsme opr&aacute;vněni zpracov&aacute;vat &uacute;daje z&aacute;kazn&iacute;ka pro &uacute;čely vym&aacute;h&aacute;n&iacute;
                dluhů a pro ochranu opr&aacute;vněn&yacute;ch z&aacute;jmů na&scaron;&iacute; společnosti.
            </p>
            <h3>JAK ZPRACOV&Aacute;V&Aacute;ME OSOBN&Iacute; &Uacute;DAJE Z&Aacute;KAZN&Iacute;KA</h3>
            <p>&Uacute;daje mohou b&yacute;t zpracov&aacute;v&aacute;ny automatizovaně i manu&aacute;lně.
            </p>
            <p>Osobn&iacute; &uacute;daje z&aacute;kazn&iacute;ka shromažďujeme v př&iacute;padě, že si od n&aacute;s z&aacute;kazn&iacute;k
                koup&iacute; produkt nebo službu (a to včetně prodeje přes internet, telefonicky, či prostřednictv&iacute;m
                jak&eacute;koli jin&eacute;ho prodejn&iacute;ho kan&aacute;lu), že se registruje pro určit&yacute;
                produkt nebo službu, že se zept&aacute; na v&iacute;ce informac&iacute; o produktu či službě nebo n&aacute;s
                kontaktuje s jin&yacute;m dotazem a ž&aacute;d&aacute; vysvětlen&iacute;, že se &uacute;častn&iacute;
                jak&eacute;koli hry či soutěže, kterou BeeMedia poř&aacute;d&aacute;, že už&iacute;v&aacute; na&scaron;i
                s&iacute;ť, produkty a služby společnosti BeeMedia nebo nav&scaron;t&iacute;v&iacute; na&scaron;e webov&eacute;
                str&aacute;nky.
            </p>
            <p>&Uacute;daje z&aacute;kazn&iacute;ka můžeme rovněž shromažďovat z jin&yacute;ch zdrojů (tzv. nepř&iacute;m&yacute;
                sběr), např&iacute;klad z obchodn&iacute;ho rejstř&iacute;ku, živnostensk&eacute;ho rejstř&iacute;ku a
                jin&eacute;ho seznamu podnikatelů, z dlužnick&yacute;ch registrů atd., za &uacute;čelem, za kter&yacute;m
                jsou tyto osobn&iacute; &uacute;daje v jin&yacute;ch zdroj&iacute;ch uvedeny, to v&scaron;e v souladu s
                platn&yacute;mi pr&aacute;vn&iacute;mi předpisy.
            <h3>POUŽ&Iacute;V&Aacute;N&Iacute; &Uacute;DAJŮ</h3>
            <p>Osobn&iacute; data z&aacute;kazn&iacute;ka můžeme použ&iacute;vat pro &uacute;čely souvisej&iacute;c&iacute;
                s poskytov&aacute;n&iacute;m služeb, což zahrnuje zpracov&aacute;n&iacute; objedn&aacute;vek, uzavřen&iacute;
                smlouvy, ř&iacute;zen&iacute; a spravov&aacute;n&iacute; &uacute;čtu z&aacute;kazn&iacute;ka, zas&iacute;l&aacute;n&iacute;
                vy&uacute;čtov&aacute;n&iacute;, propojen&iacute; a př&iacute;stup k s&iacute;ti jin&yacute;ch oper&aacute;torů,
                poskytov&aacute;n&iacute; služeb a produktů, př&iacute;padně informac&iacute;, kter&eacute; z&aacute;kazn&iacute;k
                ž&aacute;d&aacute; či odpověd&iacute; na st&iacute;žnosti z&aacute;kazn&iacute;ka nebo dotazy ohledně
                &uacute;čtu. Kromě osobn&iacute;ch &uacute;dajů zpracov&aacute;v&aacute;me pro &uacute;čely poskytov&aacute;n&iacute;
                služeb elektronick&yacute;ch komunikac&iacute; tzv. provozn&iacute; &uacute;daje a pro &uacute;čely
                poskytov&aacute;n&iacute; služeb s přidanou hodnotou i tzv. &uacute;daje lokalizačn&iacute;, stejně tak
                pro dal&scaron;&iacute; &uacute;čely, kter&eacute; n&aacute;m definuje z&aacute;kon o elektronick&yacute;ch
                komunikac&iacute;ch.
            </p>
            <p>Za &uacute;čelem bezpečnosti a technick&eacute;ho rozvoje můžeme tak&eacute; vypracov&aacute;vat anal&yacute;zy
                o tom, jak z&aacute;kazn&iacute;k využ&iacute;v&aacute; služby a produkty.
            </p>
            <p>V neposledn&iacute; řadě se osobn&iacute; &uacute;daje z&aacute;kazn&iacute;ka tak&eacute; zpracov&aacute;vaj&iacute;
                pro technick&eacute; a bezpečnostn&iacute; &uacute;čely, tj. aby se spr&aacute;vně nastavila a udržovala
                kapacita na&scaron;&iacute; s&iacute;tě, či aby se identifikovalo zneužit&iacute; s&iacute;tě či služeb.
            </p>
            <p>Osobn&iacute; &uacute;daje z&aacute;kazn&iacute;ka zpracov&aacute;v&aacute;me po dobu poskytov&aacute;n&iacute;
                objednan&yacute;ch produktů a služeb, resp. až do jejich vypoř&aacute;d&aacute;n&iacute;.
            </p>
            <h3>Možnost sd&iacute;len&iacute; osobn&iacute;ch &uacute;dajů z&aacute;kazn&iacute;ka</h3>
            <h3>Z&Aacute;KAZN&Iacute;K</h3>
            <p>Z&aacute;kazn&iacute;kům sdělujeme informace t&yacute;kaj&iacute;c&iacute; se jejich osobn&iacute;ch
                &uacute;dajů vždy až po dostatečn&eacute;m ověřen&iacute; identity, k čemu prim&aacute;rně slouž&iacute;
                z&aacute;kaznick&eacute; heslo. V př&iacute;padě neznalosti z&aacute;kaznick&eacute;ho hesla existuj&iacute;
                dokumentovan&eacute; alternativn&iacute; postupy, jak tazatele věrohodně ověřit.
            </p>
            <h3>ZAMĚSTNANCI SPOLEČNOSTI BEEMEDIA&nbsp;</h3>
            <p>Př&iacute;stup k &uacute;dajům, kter&eacute; společnost BeeMedia zpracov&aacute;v&aacute;, může m&iacute;t
                pouze omezen&aacute; skupina osob, přičemž pro v&scaron;echny tyto skupiny osob existuj&iacute; z&aacute;vazn&eacute;
                intern&iacute; p&iacute;semn&eacute; postupy, kter&eacute; jsou pravidelně revidov&aacute;ny jak vnitřn&iacute;mi
                kontrolami společnosti BeeMedia, tak org&aacute;ny st&aacute;tn&iacute; spr&aacute;vy. Tyto postupy
                upravuj&iacute; d&eacute;lku zpracov&aacute;n&iacute; jednotliv&yacute;ch osobn&iacute;ch &uacute;dajů,
                povinnost mlčenlivosti, bezpečnostn&iacute; pravidla, atd. Opatřen&iacute; proti možn&eacute;mu z&iacute;sk&aacute;n&iacute;
                osobn&iacute;ch &uacute;dajů z&aacute;kazn&iacute;ků třet&iacute; osobou jsou jak na &uacute;rovni
                technick&eacute; (management př&iacute;stupov&yacute;ch pr&aacute;v k syst&eacute;mům, logov&aacute;n&iacute;
                př&iacute;stupů ke kl&iacute;čov&yacute;m informac&iacute;m, zabezpečen&iacute; zvl&aacute;&scaron;ť
                citliv&yacute;ch informac&iacute; na &uacute;rovni datab&aacute;z&iacute; apod.), tak i procedur&aacute;ln&iacute;.
            </p>
            <h3>TŘET&Iacute; OSOBY&nbsp;</h3>
            <p>Osobn&iacute; &uacute;daje z&aacute;kazn&iacute;ků a/nebo &uacute;daje o &uacute;čtu z&aacute;kazn&iacute;ků
                můžeme sdělovat třet&iacute;m stran&aacute;m pouze za podm&iacute;nek stanoven&yacute;ch pr&aacute;vn&iacute;mi
                předpisy Česk&eacute; republiky a v souladu s v&scaron;eobecn&yacute;mi podm&iacute;nkami, těmito
                pravidly a př&iacute;padně dal&scaron;&iacute;mi dokumenty.
            </p>
            <p>Osobn&iacute; &uacute;daje z&aacute;kazn&iacute;ků mohou b&yacute;t zpř&iacute;stupněny pouze n&aacute;sleduj&iacute;c&iacute;m
                subjektům:
            </p>
            <ul>
                <li>společnosti, kter&eacute; zaji&scaron;ťuj&iacute; poskytov&aacute;n&iacute; služeb elektronick&yacute;ch
                    komunikac&iacute;;&nbsp
                </li>
                <li>společnosti skupiny BeeMedia (poskytov&aacute;n&iacute; služeb elektronick&yacute;ch komunikac&iacute;
                    a souvisej&iacute;c&iacute;ch služeb);
                </li>
                <li>subjekty, jimž takov&eacute; opr&aacute;vněn&iacute; d&aacute;v&aacute; z&aacute;kon (např. org&aacute;ny
                    st&aacute;tn&iacute; spr&aacute;vy), a kter&eacute; pož&aacute;daj&iacute; form&aacute;lně spr&aacute;vn&yacute;m
                    a standardizovan&yacute;m způsobem.
                </li>
            </ul>
            <h3>PŘ&Iacute;JEMCE</h3>
            <p>Př&iacute;jemcem se rozum&iacute; každ&aacute; osoba, kter&eacute; jsou &uacute;daje zpř&iacute;stupněny,
                a to buď na z&aacute;kladě z&aacute;kona nebo smlouvy.
            </p>
            <h3>BEZPEČNOST</h3>
            <p>Pokud by ve v&yacute;jimečn&eacute;m př&iacute;padě do&scaron;lo ke specifick&eacute;mu riziku poru&scaron;en&iacute;
                bezpečnosti s&iacute;tě ve vztahu k ochraně soukrom&iacute; z&aacute;kazn&iacute;ků a bude-li takov&eacute;
                riziko přesahovat přij&iacute;man&aacute; opatřen&iacute;, budeme z&aacute;kazn&iacute;ky informovat o
                ve&scaron;ker&yacute;ch možnostech doc&iacute;len&iacute; n&aacute;pravy.
            </p>
            <h3>ODPOSLECH A Z&Aacute;ZNAM ZPR&Aacute;V</h3>
            <p>Na z&aacute;kladě z&aacute;kona o elektronick&yacute;ch komunikac&iacute;ch je osoba zaji&scaron;ťuj&iacute;c&iacute;
                veřejnou komunikačn&iacute; s&iacute;ť a/nebo poskytovatel veřejně dostupn&eacute; služby elektronick&yacute;ch
                komunikac&iacute; povinna zř&iacute;dit a zajistit v r&aacute;mci sv&eacute; s&iacute;tě rozhran&iacute;
                pro připojen&iacute; koncov&eacute;ho telekomunikačn&iacute;ho zař&iacute;zen&iacute; pro odposlech a z&aacute;znam
                zpr&aacute;v.
            </p>
            <p>Odposlech a z&aacute;znam zpr&aacute;v je prov&aacute;děn př&iacute;mo př&iacute;slu&scaron;n&yacute;m
                org&aacute;nem a oper&aacute;tor nem&aacute; ž&aacute;dn&yacute; př&iacute;stup k obsahu, kter&yacute; z&iacute;sk&aacute;v&aacute;
                př&iacute;mo př&iacute;slu&scaron;n&yacute; st&aacute;tn&iacute; org&aacute;n.
            </p>
            <h3>DATA RETENTION &ndash; Z&Aacute;KONEM ULOŽEN&Aacute; POVINNOST ZPRACOV&Aacute;VAT &Uacute;DAJE PRO
                &Uacute;ČELY PŘEDCH&Aacute;ZEN&Iacute;, VYHLED&Aacute;V&Aacute;N&Iacute;, ODHALOV&Aacute;N&Iacute;
                TRESTN&Eacute; ČINNOSTI A ST&Iacute;H&Aacute;N&Iacute; TRESTN&Yacute;CH ČINŮ</h3>
            <p>Vedle odposlechu a z&aacute;znamu zpr&aacute;v přizn&aacute;v&aacute; z&aacute;kon taxativně vymezen&yacute;m
                org&aacute;nům opr&aacute;vněn&iacute; vyžadovat &uacute;daje o uskutečněn&yacute;ch vol&aacute;n&iacute;ch.
                Na&scaron;e společnost je povinna za t&iacute;mto &uacute;čelem shromažďovat po dobu 6 měs&iacute;ců
                provozn&iacute; a lokalizačn&iacute; &uacute;daje, kter&eacute; jsou vytv&aacute;řeny nebo zpracov&aacute;v&aacute;ny
                při zaji&scaron;ťov&aacute;n&iacute; veřejn&yacute;ch komunikačn&iacute;ch s&iacute;t&iacute; a při
                poskytov&aacute;n&iacute; veřejně dostupn&yacute;ch služeb.
            </p>
            <p>D&aacute;le m&aacute;me povinnost poskytovat informace z datab&aacute;ze &uacute;častn&iacute;ků veřejně
                dostupn&eacute; telefonn&iacute; služby, a to org&aacute;nu opr&aacute;vněn&eacute;mu k jejich vyž&aacute;d&aacute;n&iacute;
                podle zvl&aacute;&scaron;tn&iacute;ho pr&aacute;vn&iacute;ho předpisu.
            </p>
            <h3>HESLO</h3>
            <p>Pro př&iacute;stup k z&aacute;kaznick&eacute;mu &uacute;čtu si z&aacute;kazn&iacute;k zad&aacute;v&aacute;
                sv&eacute; heslo. Pro maxim&aacute;ln&iacute; bezpečnost z&aacute;kaznick&eacute;ho &uacute;čtu je třeba
                zvolit heslo, kter&eacute; neobsahuje několik stejn&yacute;ch č&iacute;sel nebo č&iacute;seln&eacute;
                řady.&nbsp;
            </p>
            <p>Z&aacute;kaznick&eacute; heslo je třeba chr&aacute;nit a nesdělovat jej třet&iacute;m osob&aacute;m.
            </p>
            <h3>PR&Aacute;VA Z&Aacute;KAZN&Iacute;KŮ</h3>
            <p>Pr&aacute;vo na informace Každ&yacute; subjekt &uacute;dajů m&aacute; pr&aacute;vo kdykoli kontaktovat
                společnost BeeMedia a požadovat poskytnut&iacute; informac&iacute; t&yacute;kaj&iacute;c&iacute;ch se:
            </p>
            <ol>
                <li>a) osobn&iacute;ch &uacute;dajů o n&iacute; uložen&yacute;ch, včetně jejich původu a př&iacute;jemce
                    (př&iacute;jemců);
                </li>
                <li>b) &uacute;čelu jejich použit&iacute;;</li>
                <li>c) osob a zpracovatelů, kter&yacute;m jsou jejich &uacute;daje standardně před&aacute;v&aacute;ny,
                    zejm&eacute;na v př&iacute;padě jejich před&aacute;v&aacute;n&iacute; do zahranič&iacute;;
                </li>
                <li>d) ustanoven&iacute; těchto pravidel.&nbsp;</li>
            </ol>
            
            <p>Tyto informace by měly b&yacute;t př&iacute;slu&scaron;n&eacute;mu žadateli, kter&yacute; o ně projev&iacute;
                z&aacute;jem, sděleny ve srozumiteln&eacute; podobě a v přiměřen&eacute; časov&eacute; lhůtě, a to
                obecně v p&iacute;semn&eacute; či elektronick&eacute; podobě. Poskytnut&iacute; p&iacute;semn&eacute;
                kopie těchto pravidel se považuje za dostatečn&yacute; způsob sdělen&iacute; informac&iacute; o požadavc&iacute;ch
                v něm upraven&yacute;ch.&nbsp;
            </p>
            
            <p>V př&iacute;padech, kdy to př&iacute;slu&scaron;n&eacute; pr&aacute;vn&iacute; předpisy dan&eacute; země
                dovoluj&iacute;, si může společnost BeeMedia za poskytnut&iacute; př&iacute;slu&scaron;n&eacute;
                informace &uacute;čtovat poplatek.&nbsp;
            </p>
            
            <h3>PR&Aacute;VO NA VZNESEN&Iacute; N&Aacute;MITKY, PR&Aacute;VO NA VYMAZ&Aacute;N&Iacute; ČI ZABLOKOV&Aacute;N&Iacute;
                &Uacute;DAJŮ A PR&Aacute;VO NA OPRAVU</h3>
            <p>Subjekt &uacute;dajů může kdykoli vzn&eacute;st n&aacute;mitku proti použit&iacute; jeho &uacute;dajů,
                pokud se &uacute;daje použ&iacute;vaj&iacute; k &uacute;čelu, kter&yacute; nen&iacute; pr&aacute;vně z&aacute;vazn&yacute;.
                Toto pr&aacute;vo na vznesen&iacute; n&aacute;mitky plat&iacute; i v př&iacute;padě, že subjekt &uacute;dajů
                dal k použit&iacute; jeho &uacute;dajů předchoz&iacute; souhlas.&nbsp;
            </p>
            
            <p>Opr&aacute;vněn&eacute; ž&aacute;dosti o v&yacute;maz či zablokov&aacute;n&iacute; &uacute;dajů mus&iacute;
                b&yacute;t neprodleně kladně vyř&iacute;zeny. Takov&eacute;to ž&aacute;dosti jsou opr&aacute;vněn&eacute;
                zejm&eacute;na tehdy, pominou-li pr&aacute;vn&iacute; důvody pro použit&iacute; &uacute;dajů. M&aacute;-li
                subjekt &uacute;dajů na v&yacute;maz &uacute;dajů pr&aacute;vo, ale nen&iacute;-li v&yacute;maz možn&yacute;
                nebo nen&iacute; možn&yacute; při vynaložen&iacute; přiměřen&eacute;ho &uacute;sil&iacute;, budou
                &uacute;daje chr&aacute;něny proti nepovolen&eacute;mu užit&iacute; jejich zablokov&aacute;n&iacute;m,
                přičemž budou dodrženy z&aacute;konn&eacute; lhůty pro uchov&aacute;n&iacute; &uacute;dajů.
            </p>
            <p>Subjekt &uacute;dajů může kdykoli pož&aacute;dat, aby př&iacute;slu&scaron;n&aacute; společnost opravila
                jeho osobn&iacute; &uacute;daje evidovan&eacute; takovou společnost&iacute; v př&iacute;padě, že tyto
                &uacute;daje jsou ne&uacute;pln&eacute; a/nebo nespr&aacute;vn&eacute;. Subjekt &uacute;dajů mus&iacute;
                b&yacute;t informov&aacute;n o př&iacute;padech, kdy m&aacute; zpětvzet&iacute; nebo v&yacute;maz
                &uacute;dajů za n&aacute;sledek neplněn&iacute; smluvn&iacute;ch podm&iacute;nek.&nbsp;
            </p>
            
            <h3>PR&Aacute;VO NA VYSVĚTLEN&Iacute;, KOMENT&Aacute;Ř A ZJEDN&Aacute;N&Iacute; N&Aacute;PRAVY</h3>
            <p>V př&iacute;padě tvrzen&iacute; subjektu &uacute;dajů, že byla poru&scaron;ena jeho pr&aacute;va v
                důsledku nez&aacute;konn&eacute;ho použit&iacute; jeho &uacute;dajů, zejm&eacute;na pak v př&iacute;padě
                předložen&iacute; důkazů o prokazateln&eacute;m poru&scaron;en&iacute; těchto pravidel, je společnost
                BeeMedia povinna bez zbytečn&eacute;ho odkladu zjistit okolnosti př&iacute;padu.&nbsp;
            </p>
            
            <p>Důvodn&eacute; st&iacute;žnosti budou vyř&iacute;zeny v ř&aacute;dn&eacute; lhůtě a subjekt &uacute;dajů
                bude o v&yacute;sledku vyrozuměn.&nbsp;
            </p>
            
            <p>Mus&iacute; b&yacute;t zavedeny n&aacute;ležit&eacute; kan&aacute;ly pro oznamov&aacute;n&iacute; př&iacute;padů
                poru&scaron;en&iacute; pr&aacute;v na ochranu osobn&iacute;ch &uacute;dajů (např. speci&aacute;ln&iacute;
                emailov&aacute; adresa zř&iacute;zen&aacute; &Uacute;tvarem pro ochranu osobn&iacute;ch &uacute;dajů, pr&aacute;vn&iacute;
                z&aacute;ležitosti a oblast compliance nebo určena kontaktn&iacute; osoba, kterou lze př&iacute;mo
                kontaktovat online).&nbsp;
            </p>
            
            <p>Společnost BeeMedia je povinna kontaktovat prostřednictv&iacute;m př&iacute;slu&scaron;n&eacute;ho kan&aacute;lu
                neprodleně &Uacute;řad pro ochranu osobn&iacute;ch &uacute;dajů o jak&eacute;mkoli př&iacute;padu poru&scaron;en&iacute;
                pr&aacute;v na ochranu &uacute;dajů.&nbsp;
            </p>
            
            <p>Každ&yacute; subjekt &uacute;dajů je opr&aacute;vněn podat st&iacute;žnost &Uacute;řadu pro ochranu osobn&iacute;ch
                &uacute;dajů.&nbsp;
            </p>
            
            <h3>PR&Aacute;VO NA DOTAZY A ST&Iacute;ŽNOSTI&nbsp;</h3>
            
            <p>Každ&yacute; subjekt &uacute;dajů m&aacute; pr&aacute;vo kdykoli kontaktovat společnosti BeeMedia, kter&aacute;
                použ&iacute;v&aacute; jeho osobn&iacute; &uacute;daje, s dotazy a st&iacute;žnostmi v souvislosti s
                aplikac&iacute; těchto pravidel pro ochranu &uacute;dajů.&nbsp;
            </p>
            <p>Povinnosti společnosti BeeMedia jako spr&aacute;vce osobn&iacute;ch &uacute;dajů z&aacute;kazn&iacute;ků&nbsp;
            </p>
            <p>Jako spr&aacute;vce osobn&iacute;ch &uacute;dajů je na&scaron;&iacute; povinnost&iacute;:&nbsp;
            </p>
            
            <ul>
                <li>stanovit &uacute;čel, k němuž maj&iacute; b&yacute;t osobn&iacute;
                    &uacute;daje zpracov&aacute;ny,&nbsp;
                </li>
                <li>stanovit prostředky a způsob zpracov&aacute;n&iacute; osobn&iacute;ch
                    &uacute;dajů,&nbsp;
                </li>
                <li>zpracovat pouze přesn&eacute; osobn&iacute; &uacute;daje, kter&eacute; z&iacute;skal
                    v souladu se z&aacute;konem. Je-li to nezbytn&eacute;, osobn&iacute; &uacute;daje budeme
                    aktualizovat. Zjist&iacute;-li spr&aacute;vce, že j&iacute;m zpracovan&eacute; osobn&iacute;
                    &uacute;daje nejsou s ohledem na stanoven&yacute; &uacute;čel přesn&eacute;, provede bez zbytečn&eacute;ho
                    odkladu přiměřen&aacute; opatřen&iacute;, zejm&eacute;na zpracov&aacute;n&iacute; blokuje a osobn&iacute;
                    &uacute;daje oprav&iacute; nebo dopln&iacute;, jinak osobn&iacute; &uacute;daje zlikviduje.
                    Informaci o blokov&aacute;n&iacute;, opravě, doplněn&iacute; nebo likvidaci osobn&iacute;ch &uacute;dajů
                    je spr&aacute;vce povinen bez zbytečn&eacute;ho odkladu předat v&scaron;em př&iacute;jemcům,&nbsp;
                </li>
                <li>shromažďovat osobn&iacute; &uacute;daje odpov&iacute;daj&iacute;c&iacute;
                    pouze stanoven&eacute;mu &uacute;čelu a v rozsahu nezbytn&eacute;m pro naplněn&iacute; stanov&eacute;ho
                    &uacute;čelu,&nbsp;
                </li>
                <li>uchov&aacute;vat osobn&iacute; &uacute;daje pouze po dobu, kter&aacute; je
                    nezbytn&aacute; k &uacute;čelu jejich zpracov&aacute;n&iacute;,&nbsp;
                </li>
                <li>shromažďovat osobn&iacute; &uacute;daje pouze otevřeně; je vyloučeno
                    shromažďovat &uacute;daje pod z&aacute;minkou jin&eacute;ho &uacute;čelu nebo jin&eacute; činnosti,&nbsp;
                </li>
                <li>nesdružovat osobn&iacute; &uacute;daje, kter&eacute; byly z&iacute;sk&aacute;ny
                    k rozd&iacute;ln&yacute;m &uacute;čelům.&nbsp;
                </li>
            </ul>
            <h3>POUČEN&Iacute; PODLE &sect; 21 Z&Aacute;KONA Č. 101/2000 SB., O OCHRANĚ OSOBN&Iacute;CH &Uacute;DAJŮ,
                VE ZNĚN&Iacute; POZDĚJ&Scaron;&Iacute;CH PŘEDPISŮ</h3>
            <p>Každ&yacute; &uacute;častn&iacute;k či uživatel (subjekt &uacute;dajů), kter&yacute; zjist&iacute; nebo
                se domn&iacute;v&aacute;, že společnost BeeMedia prov&aacute;d&iacute; zpracov&aacute;n&iacute; jeho
                osobn&iacute;ch &uacute;dajů, kter&eacute; je v rozporu s ochranou soukrom&eacute;ho a osobn&iacute;ho
                života subjektu &uacute;dajů nebo v rozporu se z&aacute;konem, zejm&eacute;na jsou-li osobn&iacute;
                &uacute;daje nepřesn&eacute; s ohledem na &uacute;čel jejich zpracov&aacute;n&iacute;, může
            </p>
            <ol>
                <li>a) pož&aacute;dat BeeMedia o vysvětlen&iacute;,</li>
                <li>b) požadovat, aby BeeMedia odstranil takto vznikl&yacute; stav. Zejm&eacute;na se může jednat o
                    blokov&aacute;n&iacute;, proveden&iacute; opravy, doplněn&iacute; nebo likvidaci osobn&iacute;ch
                    &uacute;dajů.
                </li>
            </ol>
            <p>Je-li ž&aacute;dost subjektu &uacute;dajů shled&aacute;na opr&aacute;vněnou, spr&aacute;vce odstran&iacute;
                neprodleně z&aacute;vadn&yacute; stav.
            </p>
            <h3>PŘ&Iacute;STUP SUBJEKTU &Uacute;DAJŮ K INFORMAC&Iacute;M</h3>
            <p>Pokud chce z&aacute;kazn&iacute;k z&iacute;skat informace o osobn&iacute;ch &uacute;daj&iacute;ch, kter&eacute;
                o z&aacute;kazn&iacute;kovi můžeme shromažďovat či kter&eacute; o z&aacute;kazn&iacute;kovi zpracov&aacute;v&aacute;me
                ve smyslu ustanoven&iacute; &sect; 12 z&aacute;kona č. 101/2000 Sb., o ochraně osobn&iacute;ch &uacute;dajů,
                potom z&aacute;kazn&iacute;k postupuje n&aacute;sledovně:
            </p>
            <h3>BEEMEDIA JAKO POSKYTOVATEL SLUŽEB ELEKTRONICK&Yacute;CH KOMUNIKAC&Iacute;</h3>
            <p>Informaci o zpracov&aacute;n&iacute; osobn&iacute;ch &uacute;dajů subjektu &uacute;dajů, tj. z&aacute;kazn&iacute;ků,
                kteř&iacute; jsou fyzick&yacute;mi osobami a jejichž &uacute;daje zpracov&aacute;v&aacute; společnost
                BeeMedia pro &uacute;čely poskytov&aacute;n&iacute; služeb elektronick&yacute;ch komunikac&iacute; a pro
                dal&scaron;&iacute; &uacute;čely taxativně uveden&eacute; v informace pro &uacute;častn&iacute;ka a
                uživatele o zpracov&aacute;n&iacute; osobn&iacute;ch, identifikačn&iacute;ch, provozn&iacute;ch a
                lokalizačn&iacute;ch &uacute;dajů, zas&iacute;l&aacute; na&scaron;e společnost pouze p&iacute;semně,
                formou doporučen&eacute;ho dopisu na adresu z&aacute;kazn&iacute;ka, kter&aacute; je společnost&iacute;
                BeeMedia u z&aacute;kazn&iacute;ka vedena. Informaci o zpracov&aacute;n&iacute; osobn&iacute;ch &uacute;dajů
                z&aacute;kazn&iacute;ka podle tohoto odstavce je na&scaron;&iacute; společnost&iacute; poskytov&aacute;no
                zdarma.&nbsp;
            </p>
            <p>Informace z&aacute;kazn&iacute;kovi poskytneme na z&aacute;kladě p&iacute;semn&eacute; ž&aacute;dosti,
                kterou z&aacute;kazn&iacute;k za&scaron;le na&scaron;&iacute; společnosti na adresu s&iacute;dla
                společnosti BeeMedia.
            </p>
            <h3>BEEMEDIA JAKO ZPRACOVATEL &Uacute;DAJŮ, KDY TAKOV&Eacute; ZPRACOV&Aacute;N&Iacute; UKL&Aacute;D&Aacute;
                Z&Aacute;KON VE PROSPĚCH TŘET&Iacute; OSOBY</h3>
            <p>Ž&aacute;d&aacute;-li z&aacute;kazn&iacute;k, fyzick&aacute; osoba, kter&aacute; m&aacute; se společnost&iacute;
                BeeMedia uzavřenu jednu smlouvou o poskytov&aacute;n&iacute; služeb elektronick&yacute;ch komunikac&iacute;,
                o informaci o provozn&iacute;ch a lokalizačn&iacute;ch &uacute;daj&iacute;ch zpracov&aacute;van&yacute;ch
                na z&aacute;kladě st&aacute;tem uložen&eacute; povinnosti podle ustanoven&iacute; &sect; 97 odst. 3 z&aacute;kona
                č. 127/2005 Sb., o elektronick&yacute;ch komunikac&iacute;ch, ve zněn&iacute; pozděj&scaron;&iacute;ch
                předpisů, kter&eacute; jsou poskytov&aacute;ny na z&aacute;kladě stanoviska &Uacute;řadu pro ochranu
                osobn&iacute;ch &uacute;dajů, je stanoven pro vyd&aacute;n&iacute; takov&yacute;ch &uacute;dajů zvl&aacute;&scaron;tn&iacute;
                proces.&nbsp;
            </p>
            <p>Důvodem tohoto postupu je skutečnost, že tzv. provozn&iacute; a lokalizačn&iacute; &uacute;daje zpracov&aacute;van&eacute;
                za &uacute;čelem přech&aacute;zen&iacute;, vyhled&aacute;v&aacute;n&iacute;, odhalov&aacute;n&iacute;
                trestn&eacute; činnosti a st&iacute;h&aacute;n&iacute; trestn&yacute;ch činů podl&eacute;h&aacute; vy&scaron;&scaron;&iacute;
                &uacute;rovni ochrany a odpov&iacute;daj&iacute;c&iacute;m sankc&iacute;m v př&iacute;padě jejich neopr&aacute;vněn&eacute;ho
                zpř&iacute;stupněn&iacute;. Poskytnut&iacute; t&eacute;to informace podl&eacute;h&aacute; &uacute;hradě
                n&aacute;kladů nezbytn&yacute;ch na poskytnut&iacute; informace. O způsobu a dal&scaron;&iacute;ch podm&iacute;nk&aacute;ch
                pro poskytnut&iacute; informace o zpracov&aacute;n&iacute; podle tohoto odstavce, n&aacute;s z&aacute;kazn&iacute;k
                p&iacute;semně kontaktuje na adrese s&iacute;dla společnosti BeeMedia.
            </p>
            <h3>AKTUALIZACE OSOBN&Iacute;CH &Uacute;DAJŮ</h3>
            <p>Jelikož zpracov&aacute;v&aacute;me osobn&iacute; &uacute;daje z&aacute;kazn&iacute;ků, může nastat
                situace, kdy dojde k jejich změně. V takov&eacute;m př&iacute;padě m&aacute; z&aacute;kazn&iacute;k
                povinnost změnu bez zbytečn&eacute;ho odkladu ozn&aacute;mit.
            </p>
        </div>
    </section>

</main>

<%= require('html-loader!./footer.html') %>

</body>
</html>
