<%= require('html-loader!./header.html') %>
<main>
    <section class="page-title page-title--white text-center">
        <h1>PORTFOLIO</h1>
    </section>
    <section class="section-portfolio section-portfolio--gray">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6">
                    <div id="lightgallery" class="section-portfolio__img">
                        <a href="images/reference_1_1.png">
                            <div class="section-portfolio__img__bg">
                                <img src="images/reference_1_1.png">
                            </div>
                        </a>
                        <a href="images/reference_1_2.png">
                            <img src="images/reference_1_2.png">
                        </a>
                        <a href="images/reference_1_4.png">
                            <img src="images/reference_1_4.png">
                        </a>
                        <a href="images/reference_1_5.png">
                            <img src="images/reference_1_5.png">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="section-portfolio__text pt-4 pt-lg-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2>PartyWorld.cz</h2> <i class="section-portfolio__text__www">(<a href="https://www.partyworld.cz/" target="_blank">www.partyworld.cz</a>)</i>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh
                            dignissim sagittis. Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Integer
                            imperdiet lectus quis justo. Pellentesque pretium lectus id turpis. Fusce aliquam vestibulum
                            ipsum.
                        </p>
                    <div class="section-portfolio__text__tags">
                        <ul>
                            <li>#css</li>
                            <li>#html</li>
                            <li>#javascript</li>
                        </ul>
                    </div>
                    <a href="https://www.partyworld.cz/" target="_blank">
                        <button class="btn btn--secondary w-100 my-3">
                            zobrazit web
                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--white">
        <div class="container-fluid px-lg-0">
        <div class="row d-flex align-items-center w-100 no-gutters">
            <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
                <div class="section-portfolio__text pt-4 pt-lg-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <h2 class="order-1 order-lg-2">Performio.cz</h2><i class="section-portfolio__text__www order-2 order-lg-1">(<a href="https://www.performio.cz/" target="_blank">www.performio.cz</a>)</i>
                    </div>
                    <p class="section-portfolio__text__info pt-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh
                        dignissim sagittis. Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Integer
                        imperdiet lectus quis justo. Pellentesque pretium lectus id turpis. Fusce aliquam vestibulum
                        ipsum.
                    </p>
                    <div class="section-portfolio__text__tags">
                        <ul>
                            <li>#css</li>
                            <li>#html</li>
                            <li>#javascript</li>
                        </ul>
                    </div>
                    <a href="https://www.performio.cz/" target="_blank">
                        <button class="btn btn--secondary w-100 my-3">
                            zobrazit web
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <div id="lightgallery2"  class="section-portfolio__img">
                    <a href="images/reference_2_1.png">
                        <div class="section-portfolio__img__bg">
                            <img src="images/reference_2_1.png">
                        </div>
                    </a>
                    <a href="images/reference_2_2.png">
                        <div class="section-portfolio__img__bg">
                            <img src="images/reference_2_2.png">
                        </div>
                    </a>
                    <a href="images/reference_2_3.png">
                        <div class="section-portfolio__img__bg">
                            <img src="images/reference_2_3.png">
                        </div>
                    </a>
                    <a href="images/reference_2_4.png">
                        <div class="section-portfolio__img__bg">
                            <img src="images/reference_2_4.png">
                        </div>
                    </a>
                    <a href="images/reference_2_5.png">
                        <div class="section-portfolio__img__bg">
                            <img src="images/reference_2_5.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--gray">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6">
                    <div id="lightgallery3" class="section-portfolio__img">
                        <a href="images/reference_3_1.png">
                            <div class="section-portfolio__img__bg">
                                <img src="images/reference_3_1.png">
                            </div>
                        </a>
                        <a href="images/reference_3_2.png">
                            <img src="images/reference_3_2.png">
                        </a>
                        <a href="images/reference_3_3.png">
                            <img src="images/reference_3_3.png">
                        </a>
                        <a href="images/reference_3_4.png">
                            <img src="images/reference_3_4.png">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="section-portfolio__text pt-4 pt-lg-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2>Monínec</h2> <i class="section-portfolio__text__www">(<a href="https://www.moninec.cz" target="_blank">www.moninec.cz</a>)</i>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh
                            dignissim sagittis. Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Integer
                            imperdiet lectus quis justo. Pellentesque pretium lectus id turpis. Fusce aliquam vestibulum
                            ipsum.
                        </p>
                        <div class="section-portfolio__text__tags">
                            <ul>
                                <li>#css</li>
                                <li>#html</li>
                                <li>#javascript</li>
                            </ul>
                        </div>
                        <a href="https://www.moninec.cz" target="_blank">
                            <button class="btn btn--secondary w-100 my-3">
                                zobrazit web
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--white">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
                    <div class="section-portfolio__text pt-4 pt-lg-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2 class="order-1 order-lg-2">Czech HR Summit</h2><i class="section-portfolio__text__www order-2 order-lg-1">(<a href="https://hrsummit.cz/" target="_blank">www.hrsummit.cz</a>)</i>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh
                            dignissim sagittis. Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Integer
                            imperdiet lectus quis justo. Pellentesque pretium lectus id turpis. Fusce aliquam vestibulum
                            ipsum.
                        </p>
                        <div class="section-portfolio__text__tags">
                            <ul>
                                <li>#css</li>
                                <li>#html</li>
                                <li>#javascript</li>
                            </ul>
                        </div>
                        <a href="https://hrsummit.cz/" target="_blank">
                            <button class="btn btn--secondary w-100 my-3">
                                zobrazit web
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2">
                    <div id="lightgallery4"  class="section-portfolio__img">
                        <a href="images/reference_4_1.png">
                            <div class="section-portfolio__img__bg">
                                <img src="images/reference_4_1.png">
                            </div>
                        </a>
                        <a href="images/reference_4_2.png">
                            <div class="section-portfolio__img__bg">
                                <img src="images/reference_4_2.png">
                            </div>
                        </a>
                        <a href="images/reference_4_3.png">
                            <div class="section-portfolio__img__bg">
                                <img src="images/reference_4_3.png">
                            </div>
                        </a>
                        <a href="images/reference_4_4.png">
                            <div class="section-portfolio__img__bg">
                                <img src="images/reference_4_4.png">
                            </div>
                        </a>
                        <a href="images/reference_4_5.png">
                            <div class="section-portfolio__img__bg">
                                <img src="images/reference_4_5.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<%= require('html-loader!./footer.html') %>

</body>
</html>
