<%= require('html-loader!./header.html') %>
<main>
    <section class="page-title page-title--white text-center">
        <h1>PORTFOLIO</h1>
    </section>
    <section class="section-portfolio section-portfolio--gray">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6">
                    <div id="lightgallery" class="section-portfolio__img">
                        <a href="images/portfolio_1.jpg">
                            <img src="images/portfolio_1.jpg">
                        </a>
                        <a href="images/portfolio_2.jpg">
                            <img src="images/portfolio_1.jpg">
                        </a>
                        <a href="images/portfolio_3.jpg">
                            <img src="images/portfolio_1.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="section-portfolio__text pt-4 pt-lg-0">
                        <h2>Delor <i>(www.delor.cz)</i></h2>
                        <p class="section-portfolio__text__info pt-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh
                            dignissim sagittis. Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Integer
                            imperdiet lectus quis justo. Pellentesque pretium lectus id turpis. Fusce aliquam vestibulum
                            ipsum.
                        </p>
                    <div class="section-portfolio__text__tags">
                        <ul>
                            <li>#css</li>
                            <li>#html</li>
                            <li>#javascript</li>
                        </ul>
                    </div>
                    <button class="btn btn--secondary w-100 my-3">
                        view website
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--secondary">
        <div class="container-fluid px-lg-0">
        <div class="row d-flex align-items-center w-100 no-gutters">
            <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
                <div class="section-portfolio__text pt-4 pt-lg-0">
                    <h2>Monínec <i>(www.moninec.cz)</i></h2>
                    <p class="section-portfolio__text__info pt-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh
                        dignissim sagittis. Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Integer
                        imperdiet lectus quis justo. Pellentesque pretium lectus id turpis. Fusce aliquam vestibulum
                        ipsum.
                    </p>
                    <div class="section-portfolio__text__tags">
                        <ul>
                            <li>#css</li>
                            <li>#html</li>
                            <li>#javascript</li>
                        </ul>
                    </div>
                    <button class="btn btn--primary w-100 my-3">
                        view website
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <div id="lightgallery2" class="section-portfolio__img">
                    <a href="images/portfolio_4.jpg">
                        <img src="images/portfolio_4.jpg">
                    </a>
                    <a href="images/portfolio_5.jpg">
                        <img src="images/portfolio_5.jpg">
                    </a>
                    <a href="images/portfolio_6.jpg">
                        <img src="images/portfolio_6.jpg">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--gray">
        <div class="container-fluid px-lg-0">
        <div class="row d-flex align-items-center w-100 no-gutters">
            <div class="col-12 col-lg-6">
                <div id="lightgallery3" class="section-portfolio__img">
                    <a href="images/portfolio_1.jpg">
                        <img src="images/portfolio_1.jpg">
                    </a>
                    <a href="images/portfolio_2.jpg">
                        <img src="images/portfolio_1.jpg">
                    </a>
                    <a href="images/portfolio_3.jpg">
                        <img src="images/portfolio_1.jpg">
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <div class="section-portfolio__text pt-4 pt-lg-0">
                    <h2>Delor <i>(www.delor.cz)</i></h2>
                    <p class="section-portfolio__text__info pt-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh
                        dignissim sagittis. Sed convallis magna eu sem. Vestibulum fermentum tortor id mi. Integer
                        imperdiet lectus quis justo. Pellentesque pretium lectus id turpis. Fusce aliquam vestibulum
                        ipsum.
                    </p>
                    <div class="section-portfolio__text__tags">
                        <ul>
                            <li>#css</li>
                            <li>#html</li>
                            <li>#javascript</li>
                        </ul>
                    </div>
                    <button class="btn btn--secondary w-100 my-3">
                        view website
                    </button>
                </div>
            </div>
        </div>
        </div>
    </section>

</main>

<%= require('html-loader!./footer.html') %>

</body>
</html>
