<%= require('html-loader!./header.html') %>
<main>
    <section class="page-title page-title--white text-center">
        <h1>PORTFOLIO</h1>
    </section>
    <section class="section-portfolio section-portfolio--gray">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6">
                    <div id="lightgallery" class="section-portfolio__img">
                        <a href="images/reference_1_1.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_1_1.png">
                            </div>
                        </a>
                        <a href="images/reference_1_2.png">
                            <img class="lozad" data-src="images/reference_1_2.png">
                        </a>
                        <a href="images/reference_1_4.png">
                            <img class="lozad" data-src="images/reference_1_4.png">
                        </a>
                        <a href="images/reference_1_5.png">
                            <img class="lozad" data-src="images/reference_1_5.png">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="section-portfolio__text pt-4 pt-lg-0 col-12">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2>PartyWorld.cz</h2>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            <div class="section-portfolio__text__www"><a href="https://www.partyworld.cz/"
                                                                       target="_blank">www.<strong>partyworld</strong>.cz</a></div>
                        </p>
                        <a href="https://www.partyworld.cz/" target="_blank">
                            <button class="btn btn--secondary w-100 mt-4">
                                zobrazit web
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--white">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
                    <div class="section-portfolio__text pt-4 pt-lg-0 col-12">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2 class="order-1 order-lg-2">Performio.cz</h2>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            <div class="section-portfolio__text__www order-2 order-lg-1"><a
                                    href="https://www.performio.cz/" target="_blank">www.<strong>performio.cz</strong></a></div>
                        </p>
                        <a href="https://www.performio.cz/" target="_blank">
                            <button class="btn btn--secondary w-100 mt-4">
                                zobrazit web
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2">
                    <div id="lightgallery2" class="section-portfolio__img">
                        <a href="images/reference_2_1.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_2_1.png">
                            </div>
                        </a>
                        <a href="images/reference_2_2.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_2_2.png">
                            </div>
                        </a>
                        <a href="images/reference_2_3.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_2_3.png">
                            </div>
                        </a>
                        <a href="images/reference_2_4.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_2_4.png">
                            </div>
                        </a>
                        <a href="images/reference_2_5.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_2_5.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--gray">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6">
                    <div id="lightgallery3" class="section-portfolio__img">
                        <a href="images/reference_3_1.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_3_1.png">
                            </div>
                        </a>
                        <a href="images/reference_3_2.png">
                            <img class="lozad" data-src="images/reference_3_2.png">
                        </a>
                        <a href="images/reference_3_3.png">
                            <img class="lozad" data-src="images/reference_3_3.png">
                        </a>
                        <a href="images/reference_3_4.png">
                            <img class="lozad" data-src="images/reference_3_4.png">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="section-portfolio__text pt-4 pt-lg-0 col-12">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2>Monínec</h2>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            <div class="section-portfolio__text__www"><a href="https://www.moninec.cz" target="_blank">www.<strong>moninec</strong>.cz</a></div>
                        </p>
                        <a href="https://www.moninec.cz" target="_blank">
                            <button class="btn btn--secondary w-100 mt-4">
                                zobrazit web
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--white">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
                    <div class="section-portfolio__text pt-4 pt-lg-0 col-12">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2 class="order-1 order-lg-2">Czech HR Summit</h2>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            <div class="section-portfolio__text__www order-2 order-lg-1"><a href="https://hrsummit.cz/"
                                                                                          target="_blank">www.<strong>hrsummit</strong>.cz</a></div>
                        </p>
                        <a href="https://hrsummit.cz/" target="_blank">
                            <button class="btn btn--secondary w-100 mt-4">
                                zobrazit web
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2">
                    <div id="lightgallery4" class="section-portfolio__img">
                        <a href="images/reference_4_1.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_4_1.png">
                            </div>
                        </a>
                        <a href="images/reference_4_2.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_4_2.png">
                            </div>
                        </a>
                        <a href="images/reference_4_3.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_4_3.png">
                            </div>
                        </a>
                        <a href="images/reference_4_4.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_4_4.png">
                            </div>
                        </a>
                        <a href="images/reference_4_5.png">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_4_5.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-portfolio section-portfolio--gray">
        <div class="container-fluid px-lg-0">
            <div class="row d-flex align-items-center w-100 no-gutters">
                <div class="col-12 col-lg-6">
                    <div id="lightgallery5" class="section-portfolio__img">
                        <a href="images/reference_5_1.jpg">
                            <div class="section-portfolio__img__bg">
                                <img class="lozad" data-src="images/reference_5_1.jpg">
                            </div>
                        </a>
                        <a href="images/reference_5_2.jpg">
                            <img class="lozad" data-src="images/reference_5_2.jpg">
                        </a>
                        <a href="images/reference_5_3.jpg">
                            <img class="lozad" data-src="images/reference_5_3.jpg">
                        </a>
                        <a href="images/reference_5_4.jpg">
                            <img class="lozad" data-src="images/reference_5_4.jpg">
                        </a>
                        <a href="images/reference_5_5.jpg">
                            <img class="lozad" data-src="images/reference_5_5.jpg">
                        </a>
                        <a href="images/reference_5_6.jpg">
                            <img class="lozad" data-src="images/reference_5_6.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="section-portfolio__text pt-4 pt-lg-0 col-12">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2>Trigema</h2>
                        </div>
                        <p class="section-portfolio__text__info pt-2">
                            <div class="section-portfolio__text__www"><a href="https://www.trigema.cz" target="_blank">www.<strong>trigema</strong>.cz</a></div>
                        </p>
                        <a href="https://www.trigema.cz" target="_blank">
                            <button class="btn btn--secondary w-100 mt-4">
                                zobrazit web
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-about section-about--white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h3 class="pb-3 text-center text-md-left">Kontaktujte nás!</h3>
                    <p>
                        Chcete-li se zeptat na jakoukoli z našich služeb, použijte prosím náš rychlý kontaktní formulář.
                        Je to stejně dobré jako mít naši osobní e-mailovou adresu. Všechno, co nám zde napíšete, bude
                        posláno přímo nám. Ujistíme vás, že jsme vaši zprávu opravdu obdrželi a odpovíme do 1 pracovního
                        dne.
                    </p>
                </div>
                <div id="contact-form" class="contact-form col-12 col-lg-6">
                    <%= require('html-loader!./contact-form.html') %>
                </div>
            </div>
        </div>
    </section>

</main>

<%= require('html-loader!./footer.html') %>

</body>
</html>
